
body{
    width: 90vw;
    margin: auto;
    align-self: center;
    background-color: gray;
    text-align: center;
    padding: 10px;
}
// HEADER
.nav{ 
    background-color: red;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
    max-width: 40vw;
    margin: auto;
    border-style: outset;
    & div.logo{
        display: flex;
        flex-direction: row;
        background-color: green;
        margin:auto;
        border-style: inset;
        padding-right: 5px;
        & img{
            max-width: 6vw;
            margin-right: 15px;
        }
        & h1{
            margin-top: 35px;
        }
    }
    // & ul.indices{
    //     background-color: white;
    //     display: flex;
    //     flex-direction: row;
    //     text-decoration: none;
    //     margin: auto;
    //     padding: 10px;
    //     & li.indice{
    //         text-decoration: none;
    //         color: white;
    //         margin: 7px;
    //         padding: 3px;
    //         & a{
    //             text-decoration: none;
    //         }
    //     }
    // }
}

// CARRUSEL
.carrusel{
    width: 70vw;
    margin: auto;
    margin-top: 10px;
    background-color: gray;
    padding: 10px;
    & div.QA {
        width:60vw;
        margin: auto;

    }
    & div.texto{
        font-size: 20px;
        width: 50vw;
        margin: auto;
        text-align: center;
        
    }
}
// --SWIPER--
.swiper {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

// REGISTRO
.registro{
    & .texto{
        p{
            font-size: 18px;
        }
    }
    & form{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: auto;    
    }& label{
        text-align: start;
        margin-bottom: 3px;
        font-size: 15px;
    }& button{
        margin-top: 5px;
        a{
            text-decoration: none;
        }
    }
}

// TABLA
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
// FOOTER
  footer{
    background-color: red;
    p{
       display: flex;
       justify-content: center;
       padding-top: 5px;
       margin-bottom:1px;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        
        li{
            margin:5px;
            i{
                color: black;
            }
            
            
            
        }
    }
}
